.category-container {
  position: relative;
  flex: 1 1 30%;
  height: 350px;
  display: grid;
  place-items: center;
  isolation: isolate;
  overflow: hidden;
  box-shadow: 0 0 20px hsl(0, 0%, 0%, 0.2);
  transition: transform 350ms ease;

  @media screen and (max-width: 768px) {
    flex: 1 1 50%;
  }

  &:hover {
    cursor: pointer;

    & .category-titles-container {
      transform: translateY(-5px);
    }

    & img {
      transform: scale(1.05);
    }
  }

  & img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: inherit;
  }

  & .category-titles-container {
    background-color: var(--bg-color-opacity);
    backdrop-filter: blur(10px);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.2rem;
    transition: inherit;
    outline: 1px solid var(--color);
  }
}
