*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color: rgb(19, 19, 19);
  --color-opacity: rgba(19, 19, 19, 0.2);
  --color-300: hsl(0, 0%, 20%);
  --color-light: hsl(0, 0%, 100%);
  --bg-color: hsl(0, 0%, 100%);
  --bg-color-opacity: hsl(0, 0%, 100%, 0.4);
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 2rem;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    padding: 2rem 0.5rem;
  }
}
